@model IEnumerable<DotNet5Sample.ViewModels.DetailViewModels.ProductViewModel>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="~/lib/datatables/js/jquery.dataTables.js" defer></script>
<link href="~/css/datatable.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<input type="text" id="product_id" name="product_id" style="display:none" />
<input type="text" id="product_name" name="product_name" placeholder="Product name" style="margin-right:5px" />
<input type="text" id="qnt" name="qnt" placeholder="Qnt" style="margin-right:5px" />
<input type="text" id="price" name="price" placeholder="Price" style="margin-right:5px" />

<button id="btnupdata" class="btn btn-success" style="margin-right:5px" onclick=Update()>Update</button>
<button id="btnsave" class="btn btn-primary" style="margin-left:5px" onclick=Create()>Save</button>

<br />
<br />
<table id="table_product" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product_Name</th>
            <th>Qnt</th>
            <th>Price</th>
            <th>Tool</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        datatable_product();
    });

    function ReloadGrid() {
        $('#table_product').DataTable().clear();
        $('#table_product').DataTable().ajax.reload();
    }

    function datatable_product() {
        $('#table_product').DataTable({
            "ajax": {
                url: '/Product/GetProduct',
                type: 'GET',
                "dataSrc": ''
            },
            searching: false,
            ordering: true,
            columns: [
                {
                    data: 'Id',
                    width: "50px",
                    className: 'text-center align-middle',
                },
                {
                    data: 'Product_Name',
                    width: "150px",
                    className: 'text-center align-middle'
                },
                {
                    data: 'Qnt',
                    width: "150px",
                    className: 'text-center align-middle'
                },
                {
                    data: 'Price',
                    width: "150px",
                    className: 'text-center align-middle'
                },
                {
                    data: 'Id',
                    width: "150px",
                    className: 'text-center align-middle',
                    render: function (data, type, row, meta) {
                        return "<button class='btn btn-primary' style='margin-right:5px' onclick=Edit("+ JSON.stringify(row) +")>Edit</button>" +
                            "<button class='btn btn-danger' style='margin-left:5px' onclick=Delete(" + JSON.stringify(row) +")>Delete</button>";
                    }
                }
            ]
        });
    }

    function Edit(product) {
        $('#product_id').val(product.Id);
        $('#product_name').val(product.Product_Name);
        $('#qnt').val(product.Qnt);
        $('#price').val(product.Price);
    }

    function Delete(product) {
        var productId = product.Id;
        $.ajax({
            url: "Product/Delete",
            type: "POST",
            data: { id : productId },
            success: function (data) {
                alert(data);
                ReloadGrid();
            }
        });
    }
    
    function Create() {
        var product_name = $('#product_name').val();
        var qnt = $('#qnt').val();
        var price = $('#price').val();
        console.log(product_name);
        $.ajax({
            url: "Product/Create",
            type: "POST",
            data: { Product_Name: product_name, Qnt: qnt, Price: price },
            success: function (data) {
                alert(data);
                ReloadGrid();
                $('#product_id').val('');
                $('#product_name').val('');
                $('#qnt').val('');
                $('#price').val('');
            }
        });
    }
    function Update() {
        var product_id = $('#product_id').val();
        var product_name = $('#product_name').val();
        var qnt = $('#qnt').val();
        var price = $('#price').val();
        console.log(product_name);
        $.ajax({
            url: "Product/Update",
            type: "POST",
            data: { Id: product_id, Product_Name: product_name, Qnt: qnt, Price: price },
            success: function (data) {
                alert(data);
                ReloadGrid();
                $('#product_id').val('');
                $('#product_name').val('');
                $('#qnt').val('');
                $('#price').val('');
            }
        });
    }

</script>